<%
typeform_btn = <<-BTN
<div style="text-align:center;"> <a class="typeform-share button" href="https://form.typeform.com/to/itGD0T4Z?typeform-medium=embed-snippet" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#379CFB;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:11px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Book a 1-hr Session </a> </div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
BTN
%>

<div class="card">
  <div class="card-header mb-1">
    <h4 class="card-title">
      Compliance Coaching
    </h4>
  </div>
  <div class="card-body">
    <div style="background-color: #E8FDF7; padding: 1rem 0; text-align: center;" class="mb-2">
      <%= image_tag("logo-practicesecure.svg", width: 300) %>
    </div>

    <div class="card-block">

      <div class="row">
        <div class="col-md-6 pb-2">

          <h3 class="mb-1">What is Compliance Coaching?</h3>
          <p>There are many intricacies to practice compliance and in order to keep up, sometimes you need a bit of extra help. Understanding the rules, laws, and requirements can be both a challenge and a time sink so that's where we step in. Tap into our experts in compliance and risk management so you can implement proper systems that put your practice on the path to compliance.</p>

          <h4 class="mb-2 mt-3">Topics</h4>

          <ul class="mb-3">
            <li>OSHA</li>
            <li>HIPAA</li>
            <li>Infection Control</li>
            <li>Risk Management</li>
            <li>Radiation Safety</li>
            <li>Facility Readiness + General Safety</li>
            <li>Patient Documentation</li>
          </ul>

        </div>

        <div class="col-md-6">
          <h3 class="mb-1">Meet your Coach</h3>

          <div class="row mb-2">
            <div class="col-md-6">
              <%= image_tag("headshot-cary-smith.png", class: "img-fluid") %>
            </div>
            <div class="col-md-6">
              <h5 class="mb-1">Cary Smith</h5>
              <p>If you hear Cary lecture in a meeting or on the podcast, you'll likely hear him say, "grow your business, not your risk". As a <strong>Certified Professional In Healthcare Risk Management</strong> from the American Hospital Association and the American Society for Healthcare Risk Management, Cary's motivations are focused on the medical entrepreneur, the risks, and easing the burden of practice ownership. His 20 years of experience are deep in developing management solutions to the emerging challenges of human resources and clinical risk management.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <%= render layout: 'book_btn' do %>
            <%= raw(typeform_btn) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
