<div class="card">
  <div class="card-header mb-1">
    <h4 class="card-title">
      Terms
    </h4>
  </div>
  <div class="card-body">
    <div class="card-block">
      <%= render '/shared/terms' %>
    </div>
  </div>
</div>
