<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Assigned Courses</h4>
      </div>
      <div class="card-body collapse in">
        <div class="card-block card-dashboard">
          <div class="table-responsive no-dropdowns">
            <%= render 'table', employee_record_presenter: @employee_record_presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
