<li class="mb-2"><strong><%= office_documents_presenter.first.name %></strong></li>
<% office_documents_presenter.each do |office_document_presenter| %>
  <%= render 'documents/history', document_presenter: office_document_presenter.document_presenter %>
<% end %>
