<div class="bs-callout-<%= type %> mb-1">
  <div class="media">
    <div class="media-left media-middle bg-<%= type %> px-2">
      <i class="icon-<%= icon %> white font-medium-5"></i>
    </div>
    <div class="media-body p-1">
      <%= yield %>
    </div>
  </div>
</div>
