<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">New Contact</h4>
      </div>
      <div class="card-body" style="padding:22px">
        <div class="form">
          <%= render 'form', action: @is_edit, contact: @form, type: 'new' %>
        </div>
      </div>
    </div>
  </div>
</div>