<div class="password-req-checker mt-2 mb-2">
  <p class="mb-0">Your password must have:</p>
  <ul class="list-unstyled">
    <li class="invalid length"><i class="icon icon-circle-check"></i> At least <strong><span class="amount">8</span> characters</strong></li>
    <li class="invalid uppercase"><i class="icon icon-circle-check"></i> At least <strong><span class="amount">1</span> uppercase letter</strong></li>
    <li class="invalid lowercase"><i class="icon icon-circle-check"></i> At least <strong><span class="amount">1</span> lowercase letter</strong></li>
    <li class="invalid numbers"><i class="icon icon-circle-check"></i> At least <strong><span class="amount">1</span> number</strong></li>
  </ul>
</div>

