<div class="password-strength mb-3">
  <p class="mb-0">Strength: <span id="password-strength-text"></span></p>
  <div id="password-strength-meter">
    <div class="strength"></div>
  </div>
  <p id="password-strength-suggestions"></p>
</div>
