<%= render layout: '/shared/dropdown_layout' do %>
  <%= link_to edit_track_preset_path(track_preset), class: 'dropdown-item' do %>
    <i class="icon-pen3"></i> Edit
  <% end %>
  <%= link_to track_preset_path(track_preset), class: 'dropdown-item' do %>
    <i class="icon-eye6"></i> View
  <% end %>
  <div class="dropdown-divider"></div>
  <%= link_to track_preset_path(track_preset), method: :delete, class: 'dropdown-item danger', data: { confirm: 'Are you sure?' } do %>
    <i class="icon-trash danger"></i> Delete
  <% end %>
<% end %>
