<div role="group" class="btn-group">
  <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right">
    <i class="icon-filter_list icon-left"></i>
    Office: All (5)
  </button>
  <div aria-labelledby="btnGroupDrop1" class="dropdown-menu">
    <a href="" class="dropdown-item active">All (5)</a>
    <a href="" class="dropdown-item">Lakeview (2)</a>
    <a href="" class="dropdown-item">Brookside (3)</a>
  </div>
</div>
<div role="group" class="btn-group">
  <button id="btnGroupDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-primary dropdown-toggle dropdown-menu-right">
    <i class="icon-filter_list icon-left"></i>
    Status: All (5)
  </button>
  <div aria-labelledby="btnGroupDrop2" class="dropdown-menu">
    <a href="" class="dropdown-item active">All (5)</a>
    <a href="" class="dropdown-item">Employed (1)</a>
    <a href="" class="dropdown-item">Suspended (1)</a>
    <a href="" class="dropdown-item">Terminated (1)</a>
  </div>
</div>
