<table class="table table-bordered table-striped">
  <thead class="bg-grey bg-darken-2 white">
    <tr>
      <th class="text-center">Monthly $</th>
      <th class="text-center">Max Employees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">$<%= plan.monthly_price %></td>
      <td class="text-center"><%= plan.max_employees %></td>
    </tr>
  </tbody>
</table>
